{% macro aside_dropdown(id, title, options) -%}

<div class='aside_dropdown aside_child' id="{{ id+'_master' }}">
    <label for="{{ id }}">{{ title }}</label>
    <div class="select-wrapper">
        <img src="{{ url_for('static', filename='images/arrow-down.svg') }}" alt="">
        <select class="aside_data" name="{{ id }}" id="{{ id }}">
            {% for option in options %}
            <option value="{{ options[option] }}">{{ option }}</option>
            {% endfor %}
        </select>
    </div>
</div>
{%- endmacro %}


{% macro aside_float(id, title, placeholder, min=0) -%}

<div class='aside_float aside_child' id="{{ id+'_master' }}">
    <label for="{{ id }}">{{ title }}</label>
    <input class="aside_data" type="number" id="{{ id }}" min={{min}} step=".001"
        placeholder="{{ placeholder }}">
</div>
{%- endmacro %}

{% macro aside() %}
<aside>
    <form action="" method="get">
        {{ aside_dropdown("model_aside_dd", "Model", {"Quadratic Energy": "QuadraticEnergyModel", "Squared Energy": "SquaredEnergyModel", "Continuous DFQuAD":"ContinuousDFQuADModel", "Continuous Squared DFQuAD":"ContinuousSquaredDFQuADModel", "Continuous Euler Based":"ContinuousEulerBasedModel", "Continuous Modular":"ContinuousModularModel"}) }}
        {{ aside_dropdown("approx_aside_dd", "Approximator", {"RK4": "RK4"}) }}
        {{ aside_dropdown("aggr_aside_dd", "Aggregate", {"Product Aggregation": "ProductAggregation", "Sum Aggregation":"SumAggregation"}) }}
        {{ aside_dropdown("inf_aside_dd", "Influence", {"Euler based": "EulerBasedInfluence", "Linear": "LinearInfluence", "Quadratic Maximum": "QuadraticMaximumInfluence"}) }}
        {{ aside_float("inf_aside_fl", "Influence Conservativeness", "Enter influence Conservativeness here") }}
        {{ aside_float("delta_aside_fl", "Delta", "Enter Delta value here") }}
        {{ aside_float("epsilon_aside_fl", "Epsilon", "Enter Epsilon value here") }}
    </form>
</aside>
{% endmacro %}