{% macro tab(href, hotkey, name, active) %}
<form onsubmit="return q(this);" class='tab{{ " tab_active" if active else "" }}' action="{{ href }}">
    <input type="hidden" name="d" value="">
    <input data-hotkey="{{ hotkey }}" data-hotkey-desc="{{ name }} (nav)" type="submit" value="{{ name }}">
</form>
{% endmacro %}

{% macro tabs(active_page) %}
{% set pages = [
    {"href":"/home", "hotkey": "f", "name": "BAG Editor", "id":"home"},
    {"href":"/node_graph", "hotkey": "g", "name": "Graph visualization", "id":"node_graph"},
    {"href":"/line_graph", "hotkey": "h", "name": "Argument evaluation","id":"line_graph"},
    {"href":"/verbose_output", "hotkey": "j", "name": "Verbose output", "id":"verbose_output"},
] %}

<nav>
    <div class="tabs">
        {% for page in pages %}
            {% if page.id == active_page %}
            {{ tab(page.href, page.hotkey, page.name, true) }}

            {% else %}
            {{ tab(page.href, page.hotkey, page.name, false) }}

            {% endif %}
        {% endfor %}
    </div>
</nav>

{% endmacro %}