.aside_dropdown {
  width: 100%;
}

.aside_child label {
  padding-bottom: 16px;
}

.aside_child label span {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--purple-lightest);
}

.aside_dropdown select {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 64px;
  border-radius: 10px;
  border: 0px;
  background-color: var(--purple-pastel);
  color: var(--light-darker);
  box-shadow: 0px 0px 10px #18181888;
  text-indent: 16px;
  cursor: pointer;
}

.aside_dropdown select:disabled {
  background-color: hsl(262, 9%, 30%);
  color: hsl(262, 9%, 50%);
  cursor: not-allowed;
}

.select-wrapper {
  position: relative;
}

.select-wrapper img {
  position: absolute;
  right: 32px;
  top: 50%;
  transform: translateY(-50%);
  width: 14px;
  user-select: none;
  pointer-events: none;
}

/* FLOAT */
.aside_float label {
  font-size: 24px;
  padding-bottom: 16px;
  font-weight: 600;
  color: var(--light);
}

.aside_float input {
  width: 100%;
  height: 64px;
  border-radius: 10px;
  border: 0px;
  background-color: var(--light-lighter);
  color: var(--light-darker);
  box-shadow: 0px 0px 10px #18181888;
  text-indent: 16px;
  
}

.aside_float input:disabled {
  background-color: hsl(262, 9%, 30%);
  color: hsl(262, 9%, 50%);
  cursor: not-allowed;
}

.aside_float input:disabled::placeholder {
  color: hsl(262, 9%, 50%);
}

.aside_float input::placeholder {
  color: black;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
}

aside {
  grid-area: aside;
  background: var(--dark-lighter);
  height: 100%;
  width: 100%;
  box-shadow: 5px 0px 10px #18181a55;
  z-index: 2;
  overflow-y: scroll;
  padding: 32px;
}

.aside_child:not(.aside_child:nth-child(1)) {
  padding-top: 32px;
}
