{% from "_components/aside.html" import aside_dropdown with context %}
{% from "_components/aside.html" import aside_float with context %}
{% set component_styles = ['aside.css'] %}

{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">

{% for x in component_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename="components/"+x) }}">
{% endfor %}

{% endblock %}

{% block content %}

<main>
    <aside>
        <form action="" method="get">
            {{ aside_dropdown("model_aside_dd", "Model", {"Quadratic Energy": "QuadraticEnergyModel", "Squared Energy": "SquaredEnergyModel", "Continuous DFQuAD":"ContinuousDFQuADModel", "Continuous Squared DFQuAD":"ContinuousSquaredDFQuADModel", "Continuous Euler Based":"ContinuousEulerBasedModel", "Continuous Modular":"ContinuousModularModel"}) }}
            {{ aside_dropdown("approx_aside_dd", "Approximator", {"RK4": "RK4"}) }}
            {{ aside_dropdown("aggr_aside_dd", "Aggregate", {"Product Aggregation": "ProductAggregation", "Sum Aggregation":"SumAggregation"}) }}
            {{ aside_dropdown("inf_aside_dd", "Influence", {"Euler based": "EulerBasedInfluence", "Linear": "LinearInfluence", "Quadratic Maximum": "QuadraticMaximumInfluence"}) }}
            {{ aside_float("inf_aside_fl", "Influence Conservativeness", "Enter influence Conservativeness here") }}
            {{ aside_float("delta_aside_fl", "Delta", "Enter Delta value here") }}
            {{ aside_float("epsilon_aside_fl", "Epsilon", "Enter Epsilon value here") }}
        </form>
    </aside>

    <section>
        <div id="section_child">
            <div class="title_bar">
                <h2>BAG</h2>
                <button>Load from file</button>
                <button>Clear</button>
            </div>
            <form id="BAG_text_form" action="" method="get">
                <textarea name="BAG_text" id="BAG_text"></textarea>
            </form>
            <div class="title_bar">
                <button>Save</button>
            </div>
        </div>

        <nav>
            <div class="tabs">
                <div class="tab tab_active">
                    <a href="#">
                        <p>BAG Editor</p>
                    </a>
                </div>

                <div class="tab">
                    <a href="#">
                        <p>Line graph</p>
                    </a>
                </div>
                <div class="tab">
                    <a href="#">
                        <p>Node graph</p>
                    </a>
                </div>
                <div class="tab">
                    <a href="#">
                        <p>Verbose output</p>
                    </a>
                </div>
            </div>
        </nav>
    </section>


    <script src="{{url_for('static', filename='js/component_storage.js')}}"></script>
    <script src="{{url_for('static', filename='js/dd_disabler.js')}}"></script>
</main>
{% endblock content %}