{% from "_components/aside.html" import aside_dropdown with context %}
{% from "_components/aside.html" import aside_float with context %}
{% from '_components/aside.html' import aside with context %}
{% from "_components/tabs.html" import tabs with context %}
{% set component_styles = ['aside.css', 'tabs.css'] %}

{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">

{% for x in component_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename="components/"+x) }}">
{% endfor %}

{% endblock %}

{% block content %}

<main>
    {{ aside() }}

    <section>
        <div id="section_child">
            <div class="title_bar">
                <h2>BAG</h2>
                <input id="BAG_load_from_file" type="file" accept=".txt,.bag" onchange="load_from_file()"></input>
                <button onclick="clear_bag()">Clear</button>
            </div>
            <form id="BAG_text_form" action="" method="get">
                <textarea name="BAG_text" id="BAG_text"></textarea>
            </form>
            <div class="title_bar">
                <button onclick="save_bag()">Save</button>
            </div>
        </div>

        {{ tabs('home') }}
    </section>

    <script src="{{url_for('static', filename='js/home.js')}}"></script>
    <script src="{{url_for('static', filename='js/component_storage_default.js')}}"></script>
    <script src="{{url_for('static', filename='js/dd_disabler.js')}}"></script>
</main>
{% endblock content %}