{% from "_components/aside.html" import aside_dropdown with context %}
{% from "_components/aside.html" import aside_float with context %}
{% from '_components/aside.html' import aside with context %}
{% from "_components/tabs.html" import tabs with context %}
{% set component_styles = ['aside.css', 'tabs.css', 'keybinds.css'] %}

{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">

{% for x in component_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename="components/"+x) }}">
{% endfor %}

{% endblock %}

{% block content %}

<main>
    {{ aside() }}
    <section>
        <div id="section_child">
            <div class="title_bar">
                <h2>BAG</h2>

                <input id="BAG_load_from_file" type="file" accept=".txt,.bag" onchange="load_from_file()"
                    data-hotkey="o" data-hotkey-desc="BAG from file"></input>
                <button onclick="clear_bag()" data-hotkey="p" data-hotkey-desc="Clear">Clear</button>
            </div>
            <form id="BAG_text_form" action="" method="get">
                <textarea name="BAG_text" id="BAG_text" data-hotkey="/" data-hotkey-desc="Edit BAG"></textarea>
                <div class="BAG_bar" id="save_bar">
                    <p>Saved successfully. (Click to hide)</p>
                </div>

                <div class="BAG_bar" id="warning_bar">
                    <p>
                        Your BAG format is set to <code>modern</code> but no semicolons were found.
                        <br>
                        <br>
                        The BAG has been saved regardless. (Click to hide)
                    </p>
                </div>
            </form>
            <div class="title_bar">
                <button onclick="open_keybind_modal()" id="show_keybinds" data-hotkey="z"
                    data-hotkey-desc="Show keybinds">Show keybinds</button>

                <label for="compiletype">BAG Format:</label>
                <select name="compiletype" id="compiletype" onchange="set_compiletype()">
                    <option value="legacy" selected>Legacy (newline)</option>
                    <option value="modern">Modern (semicolon)</option>
                </select>
                <button onclick="save_bag()" data-hotkey="ctrl+s,m" data-hotkey-desc="Save BAG">Save</button>
            </div>
        </div>

        {{ tabs('home') }}
    </section>

    <script src="{{url_for('static', filename='js/home.js')}}"></script>
    <script src="{{url_for('static', filename='js/component_storage_default.js')}}"></script>
    <script src="{{url_for('static', filename='js/dd_disabler.js')}}"></script>
</main>
{% endblock content %}