{% from "_components/keybinds.html" import keybinds_modal with context %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='core.css') }}">
    <script src="static/js/storage_handler.js"></script>
    <script src="static/js/keybinds.js"></script>
    {% block head %}
    {% endblock %}

</head>

<body>
    
    {{ keybinds_modal() }}

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>


</body>

</html>