{% from "_components/aside.html" import aside_dropdown with context %}
{% from "_components/aside.html" import aside_float with context %}
{% from '_components/aside.html' import aside with context %}
{% from "_components/tabs.html" import tabs with context %}
{% set component_styles = ['aside.css', 'tabs.css', 'keybinds.css'] %}

{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='line_graph.css') }}">

{% for x in component_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename="components/"+x) }}">
{% endfor %}

{% endblock %}

{% block content %}

<main>
    {{ aside() }}

    <section>
        <div id="section_child">
            <div class="title_bar">
                <h2>Line graph</h2>
                <button onclick="open_image_in_new_tab()" data-hotkey="p" data-hotkey-desc="Show in new tab">Show in new tab</button>
            </div>
            <div id="line_graph_image" style="overflow-y: auto;">
                <div style="display:block;" class="spinner_base" id="spinner_base">
                    <div class="spinner">
                        <div class="lds-ellipsis">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </div>
                <div style="display:none;" class="response_base" id="response_base">
                    <div class="response">
                        <h2 id="response_title">Error: Loading...</h2>
                        <p id="response_body">Loading...</p>
                    </div>
                </div>
            </div>
            <div class="title_bar">
                <button onclick="open_keybind_modal()" id="show_keybinds" data-hotkey="z" data-hotkey-desc="Show keybinds">Show keybinds</button>
                <button id="toggle_auto_redraw" onclick="toggle_auto_redraw();" data-hotkey="n" data-hotkey-desc="Toggle auto redraw">Turn off auto redraw</button>
                <button id="reload" onclick="draw_graph();" data-hotkey="m" data-hotkey-desc="Reload node graph">Reload</button>

            </div>
        </div>
        {{ tabs('line_graph') }}
    </section>


    <script src="{{url_for('static', filename='js/line_graph.js')}}"></script>
    <script src="{{url_for('static', filename='js/component_storage_line_graph.js')}}"></script>
    <script src="{{url_for('static', filename='js/dd_disabler.js')}}"></script>
</main>
{% endblock content %}