{% from "_components/aside.html" import aside_dropdown with context %}
{% from "_components/aside.html" import aside_float with context %}
{% from '_components/aside.html' import aside with context %}
{% from "_components/tabs.html" import tabs with context %}
{% set component_styles = ['aside.css', 'tabs.css', 'keybinds.css'] %}

{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='verbose_output.css') }}">

{% for x in component_styles %}
<link rel="stylesheet" href='{{ url_for("static", filename="components/"+x) }}'>
{% endfor %}

{% endblock %}

{% block content %}

<main>
    {{ aside() }}

    <section>
        <div id="section_child">
            <div class="title_bar">
                <h2>Verbose Output</h2>
            </div>
            <form id="VBO_text_form" action="" method="get">
                <textarea name="VBO_text" id="VBO_text" readonly></textarea>
            </form>
            <div class="title_bar">
                <button onclick="open_keybind_modal()" id="show_keybinds" data-hotkey="z" data-hotkey-desc="Show keybinds">Show keybinds</button>
                <button id="reload" onclick="regenerate_VBO()" data-hotkey="m" data-hotkey-desc="Regenerate verbose output">Regenerate</button>
            </div>
        </div>

        {{ tabs('verbose_output') }}
    </section>

    <script src="{{url_for('static', filename='js/verbose_output.js')}}"></script>
    <script src="{{url_for('static', filename='js/component_storage_verbose_output.js')}}"></script>
    <script src="{{url_for('static', filename='js/dd_disabler.js')}}"></script>
</main>
{% endblock content %}